fastapi 
uvicorn 
pydantic 
transformers 
sentence-transformers 
langchain 
groq 
nltk 
bert-score 
rouge-score 
beautifulsoup4 
requests
language-tool-python
huggingface_hub
langchain-groq
dotenv
rake-nltk
langchain-community 
langchain-experimental 
langchain-groq 
pymupdf 
chromadb
python-multipart
tiktoken
blobfile
sentencepiece